body {
	font-family: Lato;
	height: 100%;
	margin: 0;
	color: #212121;
	text-align: center;
	width: 100%;
	background-color: lightblue;
	background-size: cover;
}
h1 {
	font-size: 32px;
	font-family: Lato;
	color: coral orange;
}

h2 {
	color: coral orange;
	font-size: 56px; 
	font-family: Lato;
	font-style: italic;
}
p {
	color: coral orange;
	font-size: 2em;
	font-style: italic;
	font-family: Lato;
	background-color: lightblue;
}
img {
    border-radius: 8px;
}
.hero a {
	color: coral orange;
	font-size: 24px;
	font-family: Lato;
	text-decoration: none;
}
#footer {
	color: coral orange;
	font-family: Lato;
	font-size: 16px;
}
body {
    background-color: lightblue;
}
